<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= project.name%>- Issue Tracker</title>
    <link rel="stylesheet" href="/css/styleProjectDetail.css" />
  </head>
  <body>
    <header>
      <div class="logo">Issue Tracker</div>
      <div>
        <a href="/home" class="home-btn">Home</a>
        <a href="/projectDetail/<%= project.name %>" class="home-btn"
          >All the Issues</a
        >
        <a href="/createIssue/<%= project.name %>" class="home-btn"
          >Create Issue</a
        >
      </div>
    </header>
    <main>
      <div id="project-container">
        <h1 class="section-heading">Project: <%= project.name %></h1>
        <p><%= project.description %></p>
      </div>

      <div class="filter-container">
        <h2>You can filter the results from here!</h2>
        <form
          id="filter-form"
          action="/api/v1/issue/issueFilter/<%=project.name %>"
        >
          <label for="search">Search:</label>
          <input
            type="text"
            id="search"
            name="title"
            placeholder="Title or description"
          />
          <input type="text" id="author" name="author" placeholder="Author" />

          <label for="select-values">Select Labels:</label>
          <select name="labels" id="select-values" multiple>
            <option value="UI">UI</option>
            <option value="UX">UX</option>
            <option value="Authentication">Authentication</option>
            <option value="Network">Network</option>
            <option value="Design">Design</option>
          </select>
          <button type="submit">Filter</button>
        </form>
      </div>

      <h2>Issues/Bugs:</h2>
      <ul class="issue-list">
        <% if (project.issues.length === 0) { %>
        <p>No issues found.</p>
        <% } else { %> <% project.issues.forEach(function(issue) { %>
        <li class="issue">
          <h2><a href="#"><%= issue.issue %></a></h2>
          <p><%= issue.description %></p>
          <div class="labels">
            <% issue.labels.forEach(function(label) { %>
            <span class="label"><%= label %></span>
            <% }); %>
          </div>
          <div class="meta">
            <span class="author"><%= issue.author %></span>
            <span class="date"><%= issue.date %></span>
          </div>
        </li>
        <% }); %> <% } %>
      </ul>
    </main>
  </body>
</html>
